nav {
    background-color: rgb(44, 43, 43) !important; 
}

.navbar-nav {
    margin-left: 590px    
}    
        
    
.xtx {
    background-color: rgb(60, 136, 60);
    text-align: center;
}
.riga {
    height: 3px;
    width: 50px;
    background-color: white;
    display: inline-block;
}
.i {
    color: white;
}
.one ul li {
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
}
.one {
    padding: 1rem;
}
.one h1 {
    color: white;
}