
.bg-body-tertiary {
    background-color: #2C3E50!important; 
}
.container-fluid a {
    color: white;
}

.navbar-nav {
    margin-left: 590px;    
}    
        
    
.xtx {
    background-color: #26BD9C;
    text-align: center;
}
.riga {
    height: 3px;
    width: 50px;
    background-color: white;
    display: inline-block;
   
}
.i {
    color: white;
    
}
.one ul li {
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    color: white;
}
.one {
    padding: 1rem;
}
.one h1 {
    color: white;
}
.back .img-fluid{
    margin-bottom: 5px;
    border-radius: 10px;
    
}
.riga-2 {
    height: 3px;
    width: 50px;
    background-color: black;
    display: inline-block;
    margin-bottom: 12px;
}
.center i {
    margin-bottom: 20px;
}
.center {
    text-align: center;
}
.center h4 {
    margin-top: 12px;
}
p {
    text-align: initial;
}
.das {
    width: 300px;
    
}
.flex {
    justify-content:center;
}
.top {
    margin-top: 20px;
    margin-bottom: 5px;
}
.xtx h4 {
    color: white;
}
.heigth {
    height: 500px;
}
.btn-success {
    background-color: #26BD9C;
}
.txtx {
    text-align: left;
}
.padding {
    padding: 5rem;
}
.margin-top {
    margin-top: 100px;
}
.par {
    content: '\21E8';
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border-color: white;
    border: 2px solid white;
    font-weight: bold;
    display: inline-block;
  }
.el {
    background-color: #2C3E50;
}
.el p,
h6 {
    color: white;
}
i {
    color: white;
}
.good {
    color: black;
}
.black {
    background-color: rgb(38, 37, 37);
}
.black p {
    color: white;
}
.flex-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.height {
    height: 100px;
}
.pul p {
    padding: 3rem;
}